/*
 * 1. Base
 */
html {
	background: #181617;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body{
	font-family: Korina !important;
	height: 100%;
	font-size: 18px
}
.clear:after {
	clear: both;
}
.header {
	max-width: 80%;
	margin: 0 auto;
}
header,footer,nav {
	display:block;
	vertical-align: baseline;
	height: 76px;
}
.wrap {
	width: 100%;
	margin: 0 auto;
}
#main {
	max-width: 80%;
	margin: 0 auto;
	position: relative;
	min-height: 960px;
	background: url('Dd.jpg');
	background-size: contain;
	-webkit-box-shadow: 0px 0px 24px 10px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    0px 0px 24px 10px rgba(0, 0, 0, 0.75);
	box-shadow:         0px 0px 24px 10px rgba(0, 0, 0, 0.75);
}
.header header {
	position: relative;
	z-index: 10;
}
.page{
	min-height: 1000px;
	max-width: 80%;
	margin: 0 auto;
	background: url('parchment.jpg');
	background-size: contain;
	padding: 50px;
}
.content{
	min-height: 100%;
	margin: 0 auto;
}
.content .right {
	height: 30%;
	width: 30%;
	float: right;
}
.content .left {
	height: 30%;
	width: 30%;
	float: left;
}
.logo {
	background: url('logo.gif');
	width: 347px;
	height: 97px;
	margin: 0 auto;
}
.wrap {
	position: relative;
	width: 100%;
	margin: 0 auto;
}

/*
 * 2. Fonts
 */
@CHARSET "UTF-8";
*{
	paddin: 0;
	margin: 0;
}
@font-face
{
	font-family: Korina;
	src: url('fonts/Korinab.ttf'),
		url('fonts/Korinab.woff'),
		url('fonts/Korinab.eot');
}
@font-face
{
	font-family: Clairvaux;
	src: url('fonts/Clairvaux-Roman.ttf'),
		url('fonts/Clairvaux-Roman.woff'),
		url('fonts/Clairvaux-Roman.eot');
}

/*
 * 3. Navigation
 */
nav ul {
	list-style: none;
	padding: 0;
}
#nav_menu{
	font-size: 15px;
	font-weight:bold;
	clear: left;
	float: left;
	width: 100%;
	height: 76px;
	background-image: url('main_menu.png');
	background-repeat: no-repeat;
}
#nav_menu li {
	display: block;
	float: left;
}
#nav_menu ul li a{
	display: block;
	float: left;
	text-indent: -9999px;
	height: 50px;
	width: 175px;
	margin-top: 20px;
}
#nav_menu ul li a.home {
	width: 168px;
}
#nav_menu ul li a.home:hover {
	background-image: url('main_menu.png');
	background-position: 0 56px;
}
#nav_menu ul li a.media{
	width: 179px;
}
#nav_menu ul li a.media:hover{
	background-image: url('main_menu.png');
	background-position: -168px 56px;
}
#nav_menu ul li a.tavern{
	width: 242px;
	background-position: -70px 0;
}
#nav_menu ul li a.tavern:hover {
	background-image: url('main_menu.png');
	background-position: -347px 56px;
}
#nav_menu ul li a.game_info {
	width: 222px;
	background-position: 40px 0;
}
#nav_menu ul li a.game_info:hover {
	background-image: url('main_menu.png');
	background-position: -589px 56px;
}
#nav_menu ul li a.faq {
	width: 135px;
}
#nav_menu ul li a.faq:hover {
	width: 135px;
	background-image: url('main_menu.png');
	background-position: -811px 56px;
}
#profile {
	position: absolute;
	right: 0;
	background: rgba(255, 255, 255, 0.3);
	height: 100%;
	width: 30%;
}
#avatar {
	position: absolute;
	right: 0;
	top: -30px;
}
.char_info {
	max-width: 75%;
	padding: 10px;
}
.start {
	font-family: Clairvaux;
	font-size: 42px;
}
.bottom img{
	margin: 0 auto;
	position: relative;	
	width: 940px;
}
.play_button{
	position: absolute;
	left: 0!important;	
	top: 0;
}
.play_button a{
	cursor: pointer;
	display: block; 
	height: 200px;
	width: 200px;
	background: url('button.png');
	background-size: 600px 234px;
	background-repeat: no-repeat;
	background-position: -200px 0;
	text-indent: -9999px; 
}
.play_button a:hover{
	background-position: 0 0;
}
.play_button a:active{
	background-position: -400px 0;
}
.divider {
	background: url('large_break.jpg') repeat-x 0 0;
	height: 53px;
	width: 940px;
	margin: 0 auto;
}
/*
 * 3. Profile
 */
#profile_options {
	display: none;
	position: absolute;
	right: 0;     
  	border: 1px solid grey;
  	width: 250px;
  	box-shadow: 2px 2px 1px grey;
  	background-color: #ffffff;
  	padding: 10px;
}
#profile_options ul {
	list-style: none;
	text-align: left;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-padding-start: 0;
}
#options li:hover
{
  background: grey;     
  color: white;
}

/*
 * 4. Character creation
 */
.race_img {
	width: 128px;
	height: 128px;
}
#dragonborn {
	background: url('../src/tokens/tokens.png') no-repeat left top;
	background-repeat: no-repeat;
	background-position: 0 0;
}
#dwarf {
	background: url('../src/tokens/tokens.png') no-repeat left top;
	background-repeat: no-repeat;
	background-position: -128px 0;
}
#eladrin {
	background: url('../src/tokens/tokens.png') no-repeat left top;
	background-repeat: no-repeat;
	background-position: -256px 0;
}
#elf {
	background: url('../src/tokens/tokens.png') no-repeat left top;
	background-repeat: no-repeat;
	background-position: -384px 0;
}
#half-elf {
	background: url('../src/tokens/tokens.png') no-repeat left top;
	background-repeat: no-repeat;
	background-position: -512px 0;
}
#halfling {
	background: url('../src/tokens/tokens.png') no-repeat left top;
	background-repeat: no-repeat;
	background-position: -640px 0;
}
#human {
	background: url('../src/tokens/tokens.png') no-repeat left top;
	background-repeat: no-repeat;
	background-position: -768px 0;
}
#tiefling {
	background: url('../src/tokens/tokens.png') no-repeat left top;
	background-repeat: no-repeat;
	background-position: -896px 0;
}
#dragonborn.female {
	background: url('../src/tokens/tokens.png') no-repeat left top;
	background-repeat: no-repeat;
	background-position: 0 -128px;
}
#dwarf.female {
	background: url('../src/tokens/tokens.png') no-repeat left top;
	background-repeat: no-repeat;
	background-position: -128px -128px;
}
#eladrin.female {
	background: url('../src/tokens/tokens.png') no-repeat left top;
	background-repeat: no-repeat;
	background-position: -256px -128px;
}
#elf.female {
	background: url('../src/tokens/tokens.png') no-repeat left top;
	background-repeat: no-repeat;
	background-position: -384px -128px;
}
#half-elf.female {
	background: url('../src/tokens/tokens.png') no-repeat left top;
	background-repeat: no-repeat;
	background-position: -512px -128px;
}
#halfling.female {
	background: url('../src/tokens/tokens.png') no-repeat left top;
	background-repeat: no-repeat;
	background-position: -640px -128px;
}
#human.female {
	background: url('../src/tokens/tokens.png') no-repeat left top;
	background-repeat: no-repeat;
	background-position: -768px -128px;
}
#tiefling.female {
	background: url('../src/tokens/tokens.png') no-repeat left top;
	background-repeat: no-repeat;
	background-position: -896px -128px;
}
.character_title {
	font-size: 24px;
}
#class .chosen {
	border: 1px solid red;
}
.race_picker {
	float: left;
	margin: 0 5px 5px 0;
	text-align: center;
	position: relative;
}
.chosen {
	border: 1px solid red !important;
	border-radius: 5px 5px;
}
.minus {
	cursor: pointer;
}
.plus {
	cursor: pointer;
}
.class_picker:hover {
	border: 1px solid red;
}
.minus, .plus {
	color: #fff;
	padding: 5px 10px;
	margin: 0 10px;
	border: 1px solid;
	background: #890000;
}
.stats {
	float: left;
	margin: 10px;
}

/*
 * 5. Map Editor
 */
#map {
	float: left
}
.map_editor {
	position: relative;
	margin: 0 auto;
}
.editor {
	float: left;
}
.play_button{
	position: absolute;
	left: 41%;	
	top: 0;
	z-index: 12;
}
.play_button a{
	cursor: pointer;
	display: block; 
	height: 200px;
	width: 200px;
	background: url('button.png');
	background-size: 600px 234px;
	background-repeat: no-repeat;
	background-position: -200px 0;
	text-indent: -9999px; 
}
.play_button a:hover{
	background-position: 0 0;
}
.play_button a:active{
	background-position: -400px 0;
}
.ui-widget {
	font-family: Korina !important;
	background: transparent !important;	
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: transparent !important;	
}
#skills select{
	height: 30px;
}
#skills div label {
}

#accordion h3 {
	background-image: url('top.jpg')!important;
	color: #fff;
}
#name {
	background: #FEF3D1;
	margin-bottom: 20px;
	font-size: 24px;
	border: 0;
}
#save {
	margin-top: 50px; 
	width: 200px;
	height: 50px;
	background: url('src/button.png');
	cursor: pointer;
	border: 0px;
}
canvas {
	display: block;
}
.selected {
	font-style: italic;
	color: #FFFFFF;
	background: #a90329; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E5MDMyOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iIzhmMDIyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ZDAwMTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
	background: linear-gradient(to right,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 ); /* IE6-8 */
}
#editor {
	width: 512px;
	height: 640px;
	border: 1px solid;
	position: absolute;
	right: 0;
	top: 0;
}
.page {
	position: relative;
}

.layer {
	padding-left: 5px;
	border-bottom: 1px solid #890000;
}
#layers {
	height: 200px;
	width: 512px;
	font-size: 24px;
	position: relative;
	float: left;
}
#layers button {
	position: absolute;
	bottom: 10px;
	left: 5px;
}
#selector {
	width: 32px;
	height: 32px;
	border: 1px solid yellow;
	display: none;
	position: absolute;
	z-index: 1;
}
#canvas {
	border: 5px solid white;
	width: 512px;
	height: 320px;
}
#selector2 {
	width: 32px;
	height: 32px;
	border: 1px solid yellow;
	display: none;
	position: absolute;
	z-index: 1;
}
#save_button {
	margin-top: 50px; 
	width: 200px;
	height: 50px;
	background: url('src/button.png');
	cursor: pointer;
	float: left;
}
#clear {
	border: 0;
	margin-top: 50px; 
	width: 200px;
	height: 50px;
	background: url('src/button.png');
	background-position: 0 -60px;
	cursor: pointer;
	float: left;
}
/*
 * 6. Game area
 */

.game {
	width: 100%;
	padding: 20px;
	position: absolute;
}
#log {
	width: 400px;
	height: 600px;
	color: #574C3A;
	padding: 20px;
	overflow:scroll;
	background: url("pergament.png");
}
#map, #foreground {
	position: absolute;
}
#ui {
	width: 500px;
	height: 64px;
	position: relative;
	top: 450px;
	left: 600px;
}
.hud {
	position: absolute;
	right: 300px;
	
}
#ui .abilities {
	float: left;
	margin-right: 10px;
}
.abilities {
	width: 64px;
	height: 64px;
	color: #fff;
	text-align: top;
}
#move {
	background-image: url('src/skills2.png');
	background-position: 0 -132px;
}
#melee {
	background-image: url('src/skills2.png');
	background-position: -66px 0;
}
#heal {
	background-image: url('src/skills2.png');
	background-position: 132px 0;
}
::-webkit-scrollbar { 
    display: none; 
}
#hp_container {
	width: 100px;
	height: 10px;
	background: grey;
	position: relative;
}
#hp {
	width: 100px;
	height: 10px;
	background: red;
}
#char_name {
	color: white;
}
.help {
	color: #fff;
}
p.heal {
	color: #2DC407;
}
p.dmg {
	color: #EA0000;
}
#end {
	font-size: 30px;
	color: red;
	text-align: center;
}