@CHARSET "UTF-8";
*{
	paddin: 0;
	margin: 0;
}
@font-face
{
	font-family: Korina;
	src: url('fonts/Korinab.ttf'),
		url('fonts/Korinab.woff'),
		url('fonts/Korinab.eot');
}
@font-face
{
	font-family: Clairvaux;
	src: url('fonts/Clairvaux-Roman.ttf'),
		url('fonts/Clairvaux-Roman.woff'),
		url('fonts/Clairvaux-Roman.eot');
}
html {
	background: url('3.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}
body{
	font-family: Korina;
	height: 100%;
}
.clear:after {
	clear: both;
}
header,footer,nav {
	display:block;
	vertical-align: baseline;
}
nav ul {
	list-style: none;
	padding: 0;
}
#nav_menu{
	font-size: 15px;
	font-weight:bold;
	clear: left;
	float: left;
	width: 940px;
	height: 114px;
	background-image: url('menu3.png');
	background-repeat: no-repeat;
}
#nav_menu li {
	display: block;
	float: left;
}
#nav_menu ul li a{
	display: block;
	float: left;
	text-indent: -9999px;
	height: 70px;
	width: 175px;
	margin-top: 20px;
}
#nav_menu ul li a.game_info{
	margin-left: 236px;
	width: 222px;
	background-position: 0 0;
}
#nav_menu ul li a.game_info:hover{
	background-image: url('menu3.png');
	background-position: 352px 90px;
}
#nav_menu ul li a.home{
	width: 168px;
}
#nav_menu ul li a.home:hover{
	background-image: url('menu3.png');
	background-position: 0 90px;
}
#nav_menu ul li a.media{
	width: 179px;
}
#nav_menu ul li a.media:hover{
	background-image: url('menu3.png');
	background-position: -169px 90px;
}
#nav_menu ul li a.faq{
	width: 135px;
}
#nav_menu ul li a.faq:hover{
	width: 135px;
	background-image: url('menu3.png');
	background-position: 133px 90px;
}
.start {
	font-family: Clairvaux;
	font-size: 42px;
}
.wrap {
	width: 940px;
	margin: 0 auto;
}
.top{
	height: 550px;
	width: 940px;
	position: relative;
	background-repeat: no-repeat;
	margin: 0 auto;
}
.top img{
	display: block;
	margin:0 auto;
	position: absolute; 
	left: 10%;
	width: 80%;
	-webkit-box-shadow: 0px 0px 24px 10px rgba(117, 116, 116, 0.75);
	-moz-box-shadow: 0px 0px 24px 10px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 24px 10px rgba(117, 116, 116, 0.75);
}
#main{
	top: 20px;
	max-width: 940px;
	margin: 0 auto;
	position: relative;
	min-height: 960px;
}
#main:after{
	content: "";
	opacity: 1;
	background: url('dd.jpg');
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;  
	width:940px;
	background-size: contain;
	-webkit-box-shadow: 0px 0px 24px 10px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    0px 0px 24px 10px rgba(0, 0, 0, 0.75);
	box-shadow:         0px 0px 24px 10px rgba(0, 0, 0, 0.75);
}
.outer-wrap {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
	zoom: 0.9; -moz-transform: scale(0.9); -moz-transform-origin: 0 0;
}
.inner-wrap{
	width: 940px;
	margin: 0 auto;
}
/*
.header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 500;
}*/
.header header {
	position: relative;
	z-index: 10;
}
.page{
	min-height: 380px;
	width: 750px;
	margin: 15px auto;
	padding-bottom: 50px;
}
.content{
	width: 650px;
	min-height: 860px;
	margin: 0 auto;
	background: url('pergament.png');
	background-size: contain;
	padding: 50px;
}
.content p:after{
	content: "";
	background: url(line_divider.gif);display: block;
	height: 20px;
	background-repeat: no-repeat;
	background-position: center;
	margin: 1em 0 1.5em 0;
}
.content p {
	
}
.content .right {
	max-height: 30%;
    max-width: 30%;
	float: right;
}
.content .left {
	max-height: 30%;
    max-width: 30%;
	float: left;
}
.logo {
	background: url('logo.gif');
	width: 347px;
	height: 97px;
	margin: 0 auto;
}
/*#main:after {
	content: '';
	display: block;
	width: 100%;
	height: 74px;
	background: rgba(0, 0, 0, 0) url(border.gif) repeat-x 0 0;
	position: absolute;
	bottom: 100px;
}*/
.bottom img{
	margin: 0 auto;
	position: relative;	
	width: 940px;
}
.play_button{
	position: absolute;
	left: 41%;	
	top: 19%;
}
.play_button a{
	cursor: pointer;
	display: block; 
	height: 200px;
	width: 200px;
	background: url('button.png');
	background-size: 600px 234px;
	background-repeat: no-repeat;
	background-position: -200px 0;
	text-indent: -9999px; 
}
.play_button a:hover{
	background-position: 0 0;
}
.play_button a:active{
	background-position: -400px 0;
}
.divider {
	background: url('large_break.jpg') repeat-x 0 0;
	height: 53px;
	width: 940px;
	margin: 0 auto;
}
.login_form {
	height: 586px;
	width: 500px;
	position: absolute;
	z-index: 12;
	top: 40%;
	left: 37%;
	background: url('pergament2.png');
	background-size: cover;
	display: none;
}
#register {
	display: none;
}
.error {
	color: red;
}
.login_form form {
	height: 200px;
	width: 350px;
	margin: 20%;
}
.login_form form input {
	margin-bottom: 10px;
}
.login_form form label {
	display: block;
}
.login_form form span {
	margin-left: 5px;
}
.login_form input[type="submit"] {
	display: block;
}
.strongpass {
	color: green;	
}
.mediumpass {
	color: yellow;
}
.weakpass {
	color: red;
}
.login_form form #submit{
	width: 75px;
	margin-left: 75px;
}
.login_form p{
	text-align: center;
}
.close{
	position: absolute;
	top: 60px;
	left: 430px;
	width: 30px;
	height: 30px;
	border: 1px solid;
	text-align: center;
}
.close:before{
	content: 'X';
	font-size: 32px;
}
#outer{
	width: 100%;
	min-height: 100%;
	position: fixed;
	z-index: 0;
}